body{
    font-family: 'Roboto', sans-serif;
}

.clear-fix:after{
    content:'';
    display: both;
    clear: both;
}
.container{
    width: 80%;
    margin:0 auto;
}
header{
    height: 50px;
    padding:10px 0px;
}
header img{
    width: 50px;
    height: 50px;
    float: left;
}
header h1{
    font-size: 1.7em;
    font-family: 'Roboto';
    float: left;
    padding-left: 15px;
}
header nav{
    float: right;
    padding-top: 20px
}

header nav a{
    text-decoration: none;
    font-family: 'Roboto';
    color: #000;
    font-size:1.5em;
    margin: 10px;
}
header nav a:hover{
    text-decoration: underline;
}
a img{
    width: 25px;
    height: 25px;
    margin-bottom: 20px;
    margin-left: 20px;
}
#hero{
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('http://i.imgur.com/cPg8jhe.jpg');
    padding:250px 0;
    background-position: center;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 100px;
}
#hero div{
    text-align: center;
    font-family:'Roboto';
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    color:white;
    text-shadow: 2px 2px 4px #000000;
}
#sounds{
    padding: 25px;
    padding-right: 1px;
    width: 100%;
    height: 570px;
    margin: auto 0;
}

#sounds div{
    background: #FFD700;
    float: left;
    width: 23%;
    height:550px;
    text-align: center;
    margin-left: 0px;
    margin-right: 10px;
    border: 5px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    
}
#sounds div:last-child{
    margin-right: 0;
}

#sounds h3{
    font-size:28px;
    font-weight: bold;
}
#sounds p{
    font-size: 16px;
    font-weight: lighter;
}
#sounds a{
    text-decoration: none;
    color:black;
}
#sounds a:hover{
    text-decoration: underline;
}
#air img{
    width: 85%;
    height: 55%;
}
#air p{
    font-size: 16px;
}
#air a{
    font-size:32px;
}
#join img{
    width: 85%;
    height: 35%;
}
#join p{
    text-align: left;
    font-size: 16px;
    margin: 10px;
    margin-top: 20px;
}
#events img{
    width: 85%;
    height: 55%;
}
#events p{
    font-size: 32px;
    margin-top: 20px;
}
#blogs img{
    width: 85%;
    height: 35%;
}
#blogs p{
    text-align: left;
    margin: 10px;
}
#local-live{
    padding: 10px 10px;
    /*border: 1px;
    border-color: black;
    border-style: solid;
    border-width: thin;*/
    width: 98%;
    margin: 0 auto;
    height: 350px;
    
}
#local-live .video{
    width: 38%;
    margin-top: 10px;
}
.video iframe{
    width: 95%;
}
#local-live div{
    float: left;
}
#local-live .text{
    margin-left: 10px;
    width: 60%;
    font-family: 'Roboto';
    margin-top: 65px;
    font-size: 20px;
}
.text img{
    width: 35%;
    height: 35%;
    float: left;
    padding-right: 5px;
}
#connect{
    width: 100%;
    height: 350px;
    padding-top: 15px;
    background: #FFD700;
    
}
#connect > div{
    width: 50%;
    float: left;
    text-align: center;
}
#connect .picture-frame{
    width: 300px;
    margin: 0 auto;
}
.picture-frame img{
    width: 100%;
    height: 225px;
}
#alumni{
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://scontent-ord1-1.xx.fbcdn.net/hphotos-xfa1/t31.0-8/10896444_751815501553387_2168233568794671_o.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    font-family: 'Roboto';
    font-weight: bold;
    font-size:14px;
    text-transform: uppercase;
    color:white;
    text-shadow: 2px 2px 4px #000000;
    width: 300px;
    height: 225px;
}
#alumni h2{
    text-align: center;
    font-family:'Roboto';
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    color:white;
    text-shadow: 2px 2px 4px #000000;
    padding-top: 100px;
}
#alumni p{
    font-size: 18px;
}
#alumni a{
    text-decoration: none;
    color:white;
}
#alumni a:visited{
    text-decoration:none;
    color:white;
}

#alumni a:hover{
    text-decoration: underline;
    color: white;
}

#topless a{
    text-decoration: none;
    color:white;
}

#topless a:hover{
    text-decoration: underline;
    color: white;
}
#topless a:visited{
    text-decoration: none;
    color: white;
}

#topless{
     background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://scontent-ord1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/10171100_10205412944191355_4766299475337656958_n.jpg?oh=26936040fefb645eb77fa0371f8e30e8&oe=5795B8A3');
    background-position: center;
    background-size: cover;
    text-align: center;
    font-family: 'Roboto';
    font-weight: bold;
    font-size:14px;
    text-transform: uppercase;
    color:white;
    text-shadow: 2px 2px 4px #000000;
    width: 300px;
    height: 225px;
}

#topless h2{
    text-align: center;
    font-family:'Roboto';
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    color:white;
    text-shadow: 2px 2px 4px #000000;
    padding-top: 100px;
}

footer{
    background: black;
    height: 100px;
    margin: auto 0;
    padding-left: 10px;
}
footer #tsm{
    float: left;
}
footer #tsm img{
    width:75%;
    height: 75%;
    padding-top: 5px;
}
footer #final-links{
    margin-left: 50px;
    padding-left: 50px;
}
#footer-links a{
    color:white;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 20px;
    margin: 5px;
    padding-bottom: 10px
}
#footer-links a:visited{
    text-decoration: none;
    color:white;
}
#footer-links a:hover{
    text-decoration: underline;
}