header {
    background-color: #0066CC;
}

h1{
    font-family: sans-serif;
    color: white;
    font-weight: normal;
    background-color: #0066CC;
    padding: 5px;
    padding-top: 15px;
}

.link{
    color: white;
    font-family: sans-serif;
    font-weight: none;
    padding: 5px;
    padding-bottom: 15px;
}

h3 {
    font-family: sans-serif;
    font-weight: normal;
}
p{
    font-family: sans-serif;
    font-size: 12px;
    text-align: left;
}

div{
    background-color: rgb(240, 240, 240);
    height: 100%;
    width: 100%;
    padding: 20px;
}