body{
    font-family: sans-serif;
}
header{
    font-family: sans-serif;
    font-weight: none;
    text-align: center;
    font-size: 12px;
    width: 700px;
}

header p{
    margin-left: 50px;
    margin-right: 50px;
    font-weight: lighter;
}

main{
    height: 300px;
    width: 700px;
}
article p{
    font-weight: lighter;
}

#left {
    float:left;
    width: 350px;
    height: 300px;
    content: inherit;
    background-color: rgb(245, 245, 245);
}
#left img{
    width: 330px;
    padding-left: 10px;
}
#right{
    float:right;
    width: 320px;
    height: 300px;
    margin-left: 20px;
}
#left p{
    font-size: 12px;
    padding: 10px;
}
#left h3{
    padding-left: 10px;
}
#right img{
    height: 60px;
    float: left;
    padding-top: 15px;
    padding-left: 8px;
}
section {
    width: 320px;
    height: 90px;
    background-color: rgb(245, 245, 245);
}
#one {
    margin-bottom: 15px;
}
#three {
    margin-top: 15px;
}
h3 {
    font-size: 15px;
}
footer div{
    width: 230px;
}
.right {
    float: left;
}
section p{
    font-size: 12px;
    text-align: left;
    font-weight: lighter;
}
footer {
    float:clear;
    margin-top: 30px;
    width: 700px;
    font-size: 12px;
    height:120px;
    border-top-style: solid;
    border-color: lightgray;
    border-width: thin;
    border-bottom-style: solid;
}
footer h3{
    text-align: inherit;
    padding-left: 22px;
}
#footer3 p{
    padding-left: 22px;
}
.small{
    height: 90px;
    width: 190px;
    float: right;
    padding-left: 5px;
}
a{
    color:forestgreen;
    font-size: 12px;
    float:right;
    padding-right: 10px;
}
#footer1{
    float: left;
    border-right:
}
#footer2{
    float: left;
    border-left-style: solid;
    border-color:lightgray;
    border-width: thin;
}
#footer3{
    float: left;
    border-left-style: solid;
    border-color: lightgray;
    border-width: thin;
}
li{
    list-style-image:url("/mmcafee.github.io/day6homework/img/checkmark-green.jpg");
    font-weight: lighter;
    
}
footer p{
    font-weight: lighter;
}